<div class="home-container">

  <div class="summary-row">
    <mat-card class="summary-card year">
      <mat-card-title class="summary-title">{{year}} Spending</mat-card-title>
      <mat-card-content>₹{{ yearlyExpenditure | number:'1.2-2' }}</mat-card-content>
    </mat-card>

    <mat-card class="summary-card month">
      <mat-card-title class="summary-title">{{monthName}} Spending</mat-card-title>
      <mat-card-content>₹{{ monthlyExpenditure | number:'1.2-2' }}</mat-card-content>
    </mat-card>
  </div>

  <div class="category-scroll-container" *ngIf="categorySummaries.length > 0 && !selectionMode">
    <div class="category-summary" *ngFor="let c of categorySummaries" (click)="selectDelectTransactions(c)" [ngClass]="{
      'selected-category': selectedCategory?.name === c.name
    }">

      <mat-icon class="category-icon">{{ c.icon }}</mat-icon>

      <div class="category-details">

        <div class="category-name">{{ c.name }}</div>

        <div class="category-total" [ngClass]="{ credit: c.total > 0, debit: c.total < 0 }">
          ₹{{ -c.total | number:'1.2-2' }}
        </div>
      </div>

    </div>
  </div>

  <div class="category-scroll-container" *ngIf="selectionMode">
    <div class="header" *ngIf="selectionMode">
      <mat-checkbox id="selectAll" (change)="toggleSelectAll($event)"></mat-checkbox>
      <button class="soft-btn" (click)="deleteSelected()" [disabled]="!selectedCount">
        Delete {{ selectedCount > 0 ? selectedCount : '' }} Selected
      </button>
      <mat-icon class="soft-btn-close" (click)="onSwipeLeft()">close</mat-icon>
    </div>
  </div>


  <div class="transaction-list" *ngIf="!showTentativeTransaction" appSwipe (swipeRight)="onSwipeRight()"
    (swipeLeft)="onSwipeLeft()">

    <ng-container *ngFor="let t of transactions">
      <mat-card class="transaction-card" *ngIf="!selectedCategory || transactionInSelectedCategory(t)">

        <div class="transaction-content" (click)="showSmsSourceDetails(t)">

          <div class="left-icon-wrapper">
            <div class="icon-layer fade-slide" [class.hide]="selectionMode">
              <mat-icon>{{ getTransactionCategoryIcon(t) }}</mat-icon>
            </div>
            <div class="radio-layer fade-slide" [class.hide]="!selectionMode">
              <mat-checkbox [checked]="isSelected(t.id)" (change)="toggleSelection(t.id)"></mat-checkbox>
            </div>
          </div>


          <div class="right-details">
            <div class="transaction-header">
              <span class="amount" [ngClass]="{ credit: t.amount > 0, debit: t.amount < 0 }">
                ₹{{ t.amount | number:'1.2-2' }}

                <mat-icon class="message-icon" *ngIf="t.source === 'phoneMessage'">message</mat-icon>
              </span>
              <span class="date">{{ t.date | date: 'MMM dd' }}</span>
            </div>

            <div class="description">{{ t.description }}</div>
          </div>

          <div class="right-icon">
            <div class="more-icon" (click)="toggleDrawer(t, $event)">
              <mat-icon>more_vert</mat-icon>
            </div>
          </div>

        </div>

        <!-- Drawer Overlay -->
        <div class="drawer-overlay" *ngIf="t.showDrawer" (click)="closeAllDrawers()">
          <div class="action-drawer" (click)="$event.stopPropagation()" [@drawerAnimation]>
            <button mat-icon-button class="action-btn edit" (click)="editTransaction(t)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="action-btn delete" (click)="deleteTransaction(t)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

      </mat-card>
    </ng-container>

  </div>

  <div class="transaction-list" *ngIf="showTentativeTransaction">
    <app-tentative-transactions [hideTitile]="true"></app-tentative-transactions>
  </div>
</div>