<div class="app-wrapper">
  <div class="toolbar">
    <span class="title">Hisaab</span>
    <span class="spacer"></span>

    <div class="custom-select-wrapper">
      <select id="year-select" [(ngModel)]="year" (change)="onFilterChange()">
        <option *ngFor="let y of years" [value]="+y" [ngClass]="{ 'current-year': y == currentYear }">
          {{ y }}
        </option>
      </select>
    </div>

    <div class="custom-select-wrapper" *ngIf="!isChartRoute">
      <select id="month-select" [(ngModel)]="month" (change)="onFilterChange()">
        <option *ngFor="let m of filterService.months" [value]="m.value" [ngClass]="{
                  'current-month': m.value === currentMonth && year == currentYear
                }">
          {{ m.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="body-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="footer" [ngClass]="{'justify-center': !isHomeRoute}">

    <ng-container *ngIf="isHomeRoute">
      <button class="fab-button" (click)="goToTentative()" [title]="'Tentative Transactions'">
        <span class="material-icons">pending_actions</span>
      </button>

      <button class="fab-button" (click)="gotoCharts()">
        <span class="material-icons">insert_chart</span>
      </button>

      <button class="fab-button" (click)="gotoCharts()">
        <span class="material-icons">view_module</span>
      </button>
    </ng-container>

    <button *ngIf="!isHomeRoute" class="fab-button" (click)="goToHome()">
      <span class="material-icons">home</span>
    </button>

    <!-- <span class="spacer"></span> -->

    <button *ngIf="isHomeRoute" class="fab-button" (click)="openAddTransactionDialog()">
      <span class="material-icons">add</span>
    </button>
  </div>
</div>