<div class="app-wrapper">
  <div class="toolbar">
    <span class="title">Hisaab</span>
    <span class="spacer"></span>

    <div class="custom-select-wrapper">
      <label for="year-select">Year</label>
      <select id="year-select" [(ngModel)]="year" (change)="onFilterChange()">
        <option *ngFor="let y of years" [value]="y" [ngClass]="{ 'current-year': y == currentYear }">
          {{ y }}
        </option>
      </select>
    </div>

    <div class="custom-select-wrapper">
      <label for="month-select">Month</label>
      <select id="month-select" [(ngModel)]="month" (change)="onFilterChange()">
        <option *ngFor="let m of months" [value]="m.value" [ngClass]="{
                  'current-month': m.value === currentMonth && year == currentYear
                }">
          {{ m.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="body-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <span class="spacer"></span>
    
    <button 
      *ngIf="isHomeRoute" 
      class="fab-button" 
      (click)="openAddTransactionDialog()">
      <span class="material-icons">add</span>
    </button>
  
    <button 
      *ngIf="!isHomeRoute" 
      class="fab-button" 
      (click)="goToHome()">
      <span class="material-icons">home</span>
    </button>
  </div>
</div>