

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.flex {
    display: flex;
}
.spacer {
    flex: 1 auto;
}


.toast-success {
  background-color: #4caf50 !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
}

.toast-error {
  background-color: #d46a6a !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
}

.toast-info {
  background-color: #1976d2 !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
}

.toast-warning {
  background-color: #fbc02d !important;
  color: #333 !important;
  font-family: 'Roboto', sans-serif;
}

.toast-message {
  font-size: 14px;
}

.no-pointer {
  pointer-events: none;
}