<div class="color-picker-container">
    <h2 mat-dialog-title>Select an Icon</h2>
    <div class="search-container">
        <input type="text" [(ngModel)]="seachText" />
    </div>
    <mat-dialog-content>
        <div class="icon-grid">
            <ng-container *ngFor="let icon of allIcons">
                <button mat-icon-button (click)="selectIcon(icon)" *ngIf="isIconMatching(icon)">
                    <mat-icon>{{ icon }}</mat-icon>
                </button>
            </ng-container>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="dialogRef.close()">Cancel</button>
    </mat-dialog-actions>
</div>